*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    height: 1500px;
}
/*letras*/
header, h3, h2{
    letter-spacing: 3px;
    word-spacing: 2px;
font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p,span{
    letter-spacing: 1.2px;
    font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header{
   position: fixed;
   z-index: 1;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #252835;
    box-shadow: 0 -1px 5px #00e5fe;
}
.menu{
    margin: auto;
    width: 50%;
    min-width: 400px;
    display: flex;
}
#btnMenu{
    display: none;
    width: 100px;
    padding: 10px 0px 10px 0px;
}
#olMenu{
    margin: auto;
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.visible {
    display: flex;
}
#lis{
    margin:0 2px 0 2px;
    padding: 0 2px 0 2px;
}
#lis > a{
    text-decoration: none;
    color: #f5f5f5;
}

#lis::after{
    display: flex;
    position: relative;
    content: '';
    width: 100%; height: 2px;
    background-color:#1ed760;
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s;
}
#lis:hover::after{
    transform: scale(1);
 background-color: #1ed760;
    transform-origin: left;
}
.imagen{
    margin-top: 30px;
    text-align: center;
    background-image: url(https://cdn.vpn.com/wp-content/uploads/set_up_business_vpn-scaled.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
    width: 100%; height: calc(20em);
}

#info{
    padding: 40px 0 40px 0 ;
    text-align: center;
    border-top: 1px solid #ffffff;
    background-color: #fbf8f8;
    height: auto;
}

#texto{
    margin: 30px auto;
    width:65%;
}

#texto > p{
   margin: 5px 0 0 0;
    font-size: 19px;
    text-align: justify;
  word-spacing: 1%;
}

#cubosInfo{
    background-color: #192b32;
    display: flex;
    justify-content: space-evenly;
    padding: 30px auto;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px -1px 1px #1ed760;
}

#cubosInfo > div{
    padding: 40px 0 40px 0;
    margin: 30px 0 30px 0 ;
    text-align: center;
    width: 40em;
   
    color: #f1f1f1;
}
#cubosInfo div > h3{
    letter-spacing: 1px;
    color: #1ed760;
    margin: 0 0 10px 0;
}
#cubosInfo div > p{
    margin: auto;
    width: 95%;
text-align: justify;
padding: 0 6px 0 6px;
}
#cubosInfo div > button{
    margin: 50px 0 0 0;
    box-shadow: 0px 5px 15px #000000;
   overflow: hidden;
   border: none;
    width: 80%;
    transform: scale(1);
    transition: all .5s;
    transform-origin: center;
}
#cubosInfo div > button:hover{
    transform: scale(1.06);
    transform-origin: center;
}
#cubosInfo div  button > a{
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: #1ed760;
    width: 100%; 
}

.publicidad{
    width: 100%;
}
#gif{
    display: flex;
    background-image: url(tuweb.gif);
    background-position: center center;
    background-size: contain;
    height: 4em;
    max-height: 7.2em;
}

.promos{
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 0 30px 0;
    margin:auto;
    background-color: #fff;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#rectangulos{
    margin: 30px 0 30px 0;
    box-shadow: 0 2.5px 2.5px;
    border: 1px solid #000000;
     height: 50%; width: 30em;
    transform: scale(1);
    transition: all .2s;
    transform-origin: bottom;
}
#rectangulos:hover{
    transform: scale(1.001);
    transform-origin: top;
    box-shadow: 0 5px 5px;
}
#rectangulos > img{
    width:100%;
}
#rectangulos  > h3{
    color: #5ca629;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

#rectangulos > p{
    margin:0 auto;
    padding: 20px 0 20px 0;
    text-align: justify;
    font-size: 1em;
   width: 75%;
   color: #000000;
}
#rectangulos > button{
    border: none;
    width: 100%;
}
#rectangulos button > a{
    border-top: 1px solid;
    background-color: #1ed760;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}
#rectangulos button > a:hover{
    color: #ffffff;
}

#contienePlata {
    color: #ffffff;
    background-color: #252835;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0 20px #c2c2c2;
}
.mercadoPago{
    width:100%;
    text-align: center;
    background-color: #00bafd;
   overflow: hidden;
    display: flex;
    justify-content: center;
}
.redes{
    width: 80%;
    margin:30px auto;
}
.redes > ol{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
ol{
    list-style: none;
}
.redes ol li a > svg{
    width: 50px;
    border-radius: 10px;
    transition: ease-in-out .3s;
}
.redes ol li a > svg:hover{
    transform: scale3d(30px);
    fill: #050f037d;
}

footer{
    margin: 50px 0 0 0;
    width: 100%;
    height: 200px;
    background-color: #252835;
    display: flex;
}
#final{
    margin: auto;
    text-align: center;
    color: #f5f5f5;
    width: 90%;
}
#final > span, p{
    margin: 20px 0 20px 0;
}
#final span > a{
    text-decoration: none;
    color: #00bafd;
}

